@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif; /*poppins*/
}

/* body{background-color: #333;} */

:root {
  /*colors*/
  --body-color: #ffffffff;
  --sidebar-color: #51b55fff;
  --primary-color: #51b55fff;
  --primary-color-light: #dcfce7ff;
  --text-color: #707070;
  --navbar-color: #f2f3f5ff;
}

body {
  display: flex;
  height: 100vh;
  /* background: #707070; */
}
button {
  cursor: pointer;
  outline: none;
  border: none;
}

.side-bar {
  height: 100vh;
  width: 250px;
  background: var(--sidebar-color);
}

.side-bar .logo {
  width: 80px;
  min-width: 60px;
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
  color: var(--body-color);
}
ul {
  list-style: none;
}

.menu-bar {
  padding-left: 30px;
  display: flex;
  margin-top: 20px;
}
ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.nav {
  width: 100%;
}

.navbar {
  align-items: center;
  display: flex;
  gap: 48rem;
  padding: 1rem;
  background: var(--navbar-color);
}

.introduction {
  margin-top: 2rem;
  text-align: center;
  justify-content: center;
  padding: 2rem;
}
.dashboard-txt {
  text-align: left;
}

.box {
  /* background: red; */
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-left: 2rem;
}
.s-box {
  width: 15rem;
  height: 6rem;
  width: 17rem;
  border: 1px solid #e4e6ebff;
  border-radius: 0.2rem;
  display: flex;
  padding: 1rem;
  /* gap: 1rem; */
  justify-content: space-between;
  /* background-color: rgb(49, 3, 252); */
}

.abar2 {
  width: 4rem;
  border-radius: 0.25rem;
  background: var(--primary-color);
  padding: 10px;
}
.abar2-1 {
  background-color: #6b7280;
}
.abar2-3 {
  background-color: #3b82f5;
}
.abar2-4 {
  background-color: #f04343;
}

.t-txt1 {
  color: #6b7280;
}
.t-txt2 {
  color: #51b55f;
}
.t-txt3 {
  color: #3b82f5;
}
.t-txt4 {
  color: #f04343;
}

.text-number {
  font-size: 0.875rem;
  text-align: right;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.t-num {
  font-size: 22px;
}

.md-box-container {
  display: flex;
  padding-left: 2rem;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.md-box {
  height: 15rem;
  width: 17rem;
  border: 1px solid #e4e6ebff;
  border-radius: 0.2rem;
  padding: 0.75rem;
  text-align: center;
  /* display: flex; */
}

.md-btn {
  outline: none;
  border: none;
  background: #ffffffff;
  width: 100%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.375rem;
  text-align: center;
}
.md-btn1 {
  background: var(--primary-color);
  color: var(--body-color);
}

.grey-txt {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #9ca3af;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  text-align: center;
}

.normal-txt {
  font-weight: 400;
  margin-top: 1rem;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif; /*poppins*/
}

/* body{background-color: #333;} */

:root {
  /*colors*/
  --body-color: #ffffffff;
  --sidebar-color: #51b55fff;
  --primary-color: #51b55fff;
  --primary-color-light: #dcfce7ff;
  --text-color: #707070;
  --navbar-color: #f2f3f5ff;
}

body {
  display: flex;
  height: 100vh;
}

.side-bar {
  height: 100vh;
  width: 250px;
  background: var(--sidebar-color);
}

.side-bar .logo {
  width: 80px;
  min-width: 60px;
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
  color: var(--body-color);
}
ul {
  list-style: none;
}

.menu-bar {
  padding-left: 30px;
  display: flex;
  margin-top: 20px;
}
ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.nav {
  width: 100%;
}

.navbar {
  align-items: center;
  display: flex;
  gap: 48rem;
  padding: 1rem;
  background: var(--navbar-color);
}

.introduction {
  margin-top: 2rem;
  text-align: center;
  justify-content: center;
  padding: 2rem;
}
.dashboard-txt {
  text-align: left;
}

.box {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.s-box {
  width: 15em;
  height: 6rem;

  border: 1px solid #e4e6ebff;
  border-radius: 0.2rem;
  display: flex;
  padding: 1rem;
}

.abar2 {
  width: 5rem;
  background-color: rgb(252, 3, 3);
  border-radius: 0.2rem;
  background: var(--primary-color);
}
.text-number {
  text-align: right;
}
